/* DIN OT, Black */
@font-face {
    font-family: "DIN OT";
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url("po/DINOT-Black.otf")
}

/* DIN OT, Condensed Black */
@font-face {
    font-family: "DIN OT";
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    src: url("po/DINOT-CondBlack.otf")
}

/* DIN OT, Condensed Light */
@font-face {
    font-family: "DIN OT";
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    src: url("po/DINOT-CondLight.otf")
}

/* DIN OT, Light */
@font-face {
    font-family: "DIN OT";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url("po/DINOT-Light.otf")
}

/* DIN OT, Black Italic */
@font-face {
    font-family: "DIN OT";
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url("po/DINOT-BlackItalic.otf")
}

/* DIN OT, Condensed Black Italic */
@font-face {
    font-family: "DIN OT";
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    src: url("po/DINOT-CondBlackIta.otf")
}

/* DIN OT, Condensed Light Italic */
@font-face {
    font-family: "DIN OT";
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    src: url("po/DINOT-CondLightIta.otf")
}

/* DIN OT, Light Italic */
@font-face {
    font-family: "DIN OT";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url("po/DINOT-LightItalic.otf")
}

/* DIN OT, Bold */
@font-face {
    font-family: "DIN OT";
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    src: url("po/DINOT-Bold.otf")
}

/* DIN OT, Condensed Bold */
@font-face {
    font-family: "DIN OT";
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    src: url("po/DINOT-CondBold.otf")
}

/* DIN OT, Condensed Medium Italic */
@font-face {
    font-family: "DIN OT";
    font-weight: 500;
    font-style: normal;
    font-stretch: condensed;
    src: url("po/DINOT-CondMediIta.otf")
}

/* DIN OT, Medium */
@font-face {
    font-family: "DIN OT";
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url("po/DINOT-Medium.otf")
}

/* DIN OT, Bold Italic */


/* DIN OT, Condensed Bold Italic */
@font-face {
    font-family: "DIN OT";
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    src: url("po/DINOT-CondBoldIta.otf")
}

/* DIN OT, Condensed Medium */
@font-face {
    font-family: "DIN OT";
    font-weight: 500;
    font-style: normal;
    font-stretch: condensed;
    src: url("po/DINOT-CondMedium.otf")
}

/* DIN OT, Medium Italic */
@font-face {
    font-family: "DIN OT";
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url("po/DINOT-MediumItalic.otf")
}

/* DIN OT, Condensed */
@font-face {
    font-family: "DIN OT";
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    src: url("po/DINOT-Cond.otf")
}

/* DIN OT, Condensed Italic */
@font-face {
    font-family: "DIN OT";
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    src: url("po/DINOT-CondIta.otf")
}

/* DIN OT, Italic */
@font-face {
    font-family: "DIN OT";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url("po/DINOT-Italic.otf")
}

/* DIN OT, Regular */
@font-face {
    font-family: "DIN OT";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url("po/DINOT.otf")
}

